<nav class="navbar navbar-dark bg-primary shadow-lg fixed-top">
    <a style="height: 45px; margin-left: 20px;" class="navbar-brand" href="#">
      <h3>
        <img src="../assets/logo.png" width="40" height="40" class="d-inline-block align-top" alt="" style="margin-right: 5px;">
        Kaddem
      </h3>
    </a>  
  
    <div style="margin-right:20px;">  
        <button class="btn btn-outline-light my-2 my-sm-0" 
                style="margin-right:10px;" 
                [routerLink]="['/reclamation']" 
                routerLinkActive="btn-light text-dark">
            🛄 Reclamation
        </button>
        <button class="btn btn-outline-light my-2 my-sm-0" 
                style="margin-right:10px;" 
                [routerLink]="['/contrat']" 
                routerLinkActive="btn-light text-dark">
            📃 Contrat
        </button>
        <button class="btn btn-outline-light my-2 my-sm-0" 
                style="margin-right:10px;" 
                [routerLink]="['/universite']" 
                routerLinkActive="btn-light text-dark">
            🏫 Universite
        </button>
        <button class="btn btn-outline-light my-2 my-sm-0" 
                style="margin-right:10px;" 
                [routerLink]="['/departement']" 
                routerLinkActive="btn-light text-dark">
            🏬 Departement
        </button>
        <button class="btn btn-outline-light my-2 my-sm-0" 
                style="margin-right:10px;" 
                [routerLink]="['/equipe']" 
                routerLinkActive="btn-light text-dark">
            👪 Equipe
        </button>
        <button class="btn btn-outline-light my-2 my-sm-0" 
                [routerLink]="['/etudiant']" 
                routerLinkActive="btn-light text-dark">
            🧑‍🎓️ Etudiant
        </button>
    </div>  
    
  </nav>
  