<div class="layout-container" style="display: flex; min-height: 100vh;">
    <!-- Sidebar -->
    <div class="sidebar bg-dark shadow-lg" style="
      width: 250px; 
      padding: 1rem; 
      position: fixed; 
      top: 0; 
      left: 0; 
      height: 100vh;
      overflow-y: auto;">
        <br><br><br>
        <h3 style="color: white;">Actions</h3>
        <ul style="list-style-type: none; padding: 0;">
            <li style="margin-bottom: 0.5rem;">
                <a (click)="toggleAddPopup()" class="btn btn-outline-light navbar-dark" style="text-decoration: none;">
                    ➕ Ajouter Equipe
                </a>
            </li>

        </ul>
    </div>
    <div class="main-content" style="
    flex-grow: 1;
    padding: 2rem;
    position: relative;
    overflow: hidden;
    margin-left: 250px; /* Adjust to the sidebar width */
  ">
        <div style="
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../assets/background.jpg');
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      opacity: 0.35; /* Adjust this value for opacity */
      z-index: 1;
    "></div>
        <div style="position: relative; z-index: 2;">
            <br>

            <form (ngSubmit)="addEquipe()" #personnelForm="ngForm">
                <div class="popup-overlay" *ngIf="addVisible">
                    <div class="popup-content">



                        <div class="row">
                            <div class="col-md-12">
                                <label for="nomEquipe">Nom</label>
                                <input type="text" id="nomEquipe" class="form-control" placeholder="Entrez le Nom"
                                    required [(ngModel)]="equipe.nomEquipe" name="nomEquipe" #nomEquipe="ngModel" />
                                <div *ngIf="nomEquipe.invalid && nomEquipe.touched" class="text-danger">
                                    Le nom est obligatoire
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label for="niveau">Niveau</label>
                            <select id="niveau" class="form-select" required [(ngModel)]="equipe.niveau" name="niveau"
                                #niveau="ngModel">
                                <option value="" disabled>Choisissez un niveau</option>
                                <option value="JUNIOR">Junior</option>
                                <option value="SENIOR">Senior</option>
                                <option value="EXPERT">Expert</option>
                            </select>
                            <div *ngIf="niveau.invalid && niveau.touched" class="text-danger">
                                Le niveau est obligatoire
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <label for="salle">Num Salle</label>
                                <input type="number" id="salle" class="form-control"
                                    placeholder="Entrez le numéro de salle" required [(ngModel)]="equipe.salle"
                                    name="salle" #salle="ngModel" />
                                <!-- Validation message for first name -->
                                <div *ngIf="salle.invalid && salle.touched" class="text-danger">
                                    Le numéro de salle est obligatoire
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-12">
                                <label for="thematique">Thematique</label>
                                <input type="text" id="thematique" class="form-control"
                                    placeholder="Entrez la thematique" required [(ngModel)]="equipe.thematique"
                                    name="thematique" #thematique="ngModel" />
                                <!-- Validation message for first name -->
                                <div *ngIf="thematique.invalid && thematique.touched" class="text-danger">
                                    Le thematique est obligatoire
                                </div>
                            </div>
                        </div>
                  

                        <!-- Third Row: Birthday, Role, Salary, and Image Upload -->


                        <!-- Separator -->
                        <hr class="mt-4" />

                        <!-- Row for Title and Buttons -->
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <h5 *ngIf="modify">Modifier une Equipe</h5>
                                <h5 *ngIf="!modify">Ajouter une Equipe</h5>

                            </div>
                            <div class="col-md-6 text-end">
                                <button type="button" class="btn btn-secondary me-2"
                                    (click)="toggleAddPopup()">Annuler</button>
                                <button type="submit" class="btn btn-primary"
                                    [disabled]="personnelForm.invalid">Appliquer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


            <!-- Content -->
            <div style="flex: 5; position: relative; padding: 12px; padding-right: 0px; z-index: 1;">
                <div style="height: 480px; overflow-y: auto; overflow-x: hidden; margin-top: 20px;">
                    <div id="pdf-content">
                        <table class="table table-bordered table-striped table-hover shadow" style="width: 100%;">
                            <thead class="thead-dark" style="position: sticky; top: 0">
                                <tr>
                                    <th>Id.</th>
                                    <th>Nom</th>
                                    <th>Niveau</th>
                                    <th>Nbr. Etudiant</th>
                                    <th>Salle</th>
                                    <th>Thematique</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let equipe of equipes" (click)="togglePopup($event, equipe.idEquipe)">

                                    <td>{{ equipe.idEquipe }}</td>
                                    <td>{{ equipe.nomEquipe }}</td>
                                    <td>{{ equipe.niveau }}</td>
                                    <td>{{ equipe.etudiants ? equipe.etudiants.length : 0 }}</td>
                                    <td>{{ equipe.detailEquipe?.salle}}</td>
                                    <td>{{ equipe.detailEquipe?.thematique}}</td>

                                    <div *ngIf="popupFreightId === equipe.idEquipe" [ngStyle]="{
                          'position': 'absolute', 
                          'background': 'white', 
                          'border': '1px solid #ccc', 
                          'box-shadow': '0px 4px 8px rgba(0, 0, 0, 0.1)', 
                          'padding': '10px', 
                          'border-radius': '5px', 
                          'z-index': '1000',
                          'top': popupPosition.top + 'px',
                          'left': popupPosition.left + 'px'
                        }" (click)="$event.stopPropagation()">
                                        <ul style="list-style-type: none; padding: 0; margin: 0;">
                                            <li style="margin-bottom: 5px; cursor: pointer;" (click)="$event.stopPropagation(); modifyF(equipe)">
                                                📝 Modifier</li>
                                            <li style="margin-bottom: 5px; cursor: pointer;" (click)="$event.stopPropagation(); removeEquipe(equipe.idEquipe)">
                                                🗑️ Supprimer</li>
                                            <li style="cursor: pointer;"
                                                (click)="$event.stopPropagation(); cancelPopup()">❌ Annuler</li>
                                        </ul>
                                    </div>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>





    </div>